* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.card__item {
  overflow: hidden;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgb(94 104 121 / 29%);
  border: none;
  background: #dde1e7;
}
.card__content {
  transform: translateY(70px);
  transition: all 0.5s;
}
.card__item:hover .card__content {
  transform: translateY(0);
}

.card__item img {
  transition: all 0.5s;
  transform: rotateZ(0deg);
}

.card__item:hover img {
  transform: rotateZ(30deg);
}
